snippet sm "Name" w
Serena Meng
endsnippet

snippet today "Date" w
`date +%F`
endsnippet 

snippet lat "LaTeX" 
LaTeX 
endsnippet 

snippet turing "Turing" wA
Turing
endsnippet 

snippet box "Box" 
`!p snip.rv = '┌' + '─' * (len(t[1]) + 2) + '┐'`
│ $1 │
`!p snip.rv = '└' + '─' * (len(t[1]) + 2) + '┘'`
$0
endsnippet 

