# NOTE:
#	figure out how to add space before { using python

snippet _temp "template" bA
import java.util.*;

public class $1 {
	public static void main (String[] args) {
		$2
	} $3
} $0
endsnippet 

snippet _print "auto print" wA
System.out.print($1);$0
endsnippet 

snippet +print "auto println" wA
System.out.println($1);$0
endsnippet 

snippet nn "new line" bA
System.out.println();$0
endsnippet 
